.BML-section {
  min-height: 50px;
  // Покрайней мере в редакторе должна быть такая высота, чтобы хотябы панель была видна
  // Также в PlainHTML
}

.BML-section--fullscreen {
  height: 100vh;
}

.BML-section--height-70 {
  min-height: 600px;
  height: 70vh;
}

.BML-section--padding {
  padding-bottom: 96px;
  padding-top: 96px;
}

@media all and (max-width: 767px) {
  .BML-section--padding {
    padding: 80px 0;
  }
}
