// Устанавливается к .LPage

.boxed-layout {
  max-width: 1200px;
  margin: 0 auto;

  border-right: 1px solid #eee; // rgba(10, 10, 10, 0.8); // TODO Както привязывать к primary-color или secondary-color или фону
  border-left: 1px solid #eee; // rgba(10, 10, 10, 0.8); // TODO Както привязывать к primary-color или secondary-color или фону

  // Тено не хорошо смотрится в в режиме scale
  // box-shadow: 0 0 64px rgba(30, 30, 30, 0.3);

  &.LPage--scale {
    box-shadow: none;
  }
}
