$colorRed: #e31d3b;
$colorPrimary: #47b475;
$colorWhite: #fff;
$colorBody: #666;

$colorDark: #292929;

$colorGrayLight: #222;
$colorPlaceholder: #777;

$colorPrimaryBg: $colorPrimary;
$colorPrimaryText: $colorWhite;

$backgroundColorDark: $colorDark;

$backgroundSelectFocus: #eee;

$secondaryBackgroundColor: #f8f8f8;

$defaultTextColor: #666;

$defaultBackgroundColor: #fff;

$successBackgroundColor: #58ce38;
$successTextColor: #fff;

$errorBackgroundColor: #ce3838;

$colorFeature2: #40a269;
$colorLinkHover: #398f5d;
$colorFeature3: $colorLinkHover;

$backgroundFeatureBoxed: #363636;
$backgroundDarkButtonHover: #434343;

$colorBlockquote: $colorPlaceholder;
$colorSelectText: $colorPlaceholder;

$colorInputOutlineFocus: #ccc;

$colorBoder: #ccc;
$colorHR: $colorBoder;
$colorDarkHR: #555;
