$colorRed: #e31d3b;
$colorPrimary: #47b475;
$colorWhite: #fff;
$colorBody: #666;

$colorDark: #292929;

$colorGrayLight: #222;
$colorPlaceholder: #777;

$colorPrimaryBg: $colorPrimary;
$colorPrimaryText: $colorWhite;

$backgroundColorDark: $colorDark;

$secondaryBackgroundColor: #f8f8f8;

$defaultTextColor: #666;

$defaultBackgroundColor: #fff;

$successBackgroundColor: #58ce38;
$successTextColor: #fff;

$errorBackgroundColor: #ce3838;

$colorFeature2: #40a269;
$colorLinkHover: #398f5d;
$colorFeature3: $colorLinkHover;

$backgroundFeatureBoxed: #363636;
$backgroundDarkButtonHover: #434343;


/*
#555
#666
#777
#8ed3ab
#c8c8c8
#ccc
#eee
#f5f5f5
#f8f8f8
#fefefe
#fff
*/
