/*ul {*/
  /*list-style: none;*/
/*}*/

ul.bullets {
  list-style: inside;
}

.main-container {
  clear: both;
}

.vnu {
  display: inline;
}

.row-gapless > div[class*='col-'] {
  padding: 0;
}

@media all and (max-width: 1100px) {
  .col-md-push-1 {
    left: 0;
  }
}

@media all and (max-width: 768px) {
  .pull-left-sm {
    float: left !important;
  }
  .overflow-hidden-xs {
    overflow: hidden;
  }
}
