

.font-family-header {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-family-text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-family-quote {
  font-family: "Merriweather", "Georgia", Times New Roman, Times, serif;
}

.font-family-number {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-family-input {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
