$zIndexRelative: 2;
$zIndexBase: 1;
$zIndexUnderForms: 99999;
$zIndexControlsInside: 10;

$zIndexMapsBefore: $zIndexRelative;
$zIndexMapsHolder: $zIndexBase;

$zIndexOverlayBefore: $zIndexRelative;

$zIndexUnderRelative: 3;

$zIndexFormSelectOption: $zIndexRelative;

$zIndexEmbelish: -1;
