$colorPrimary: #e31d3b;
$colorWhite: #fff;

$colorGrayLight: #222;
$colorDarkHR: #555;
$colorBody: #666;
$colorPlaceholder: #777;
$colorBoder: #ccc;
$backgroundSelectFocus: #eee;

$colorDark: #292929;

$secondaryBackgroundColor: #f8f8f8;

$backgroundDarkButtonHover: #434343;
