@import 'viewer/colors';

.bg-primary {
    background: $colorPrimary !important;
}

.bg-secondary {
    background: $secondaryBackgroundColor;
}

.bg-light {
    background: $colorWhite;
}

.bg-dark {
    background: $backgroundColorDark;
}

.color-body {
    color: $colorBody;
}

.color-primary {
    color: $colorPrimary !important;
}

.color-red {
    color: $colorRed !important;
}

.color-white {
    color: $colorWhite;
}
