{
  "presets": ["react", "es2015", "stage-0"],
  "env": {
    "production": {
      "presets": ["react", "es2015", "stage-0", "react-optimize"],
      "plugins": [
        ["transform-decorators-legacy"]
      ]
    },
    "development": {
      "plugins": [
        ["transform-decorators-legacy"],
        ["babel-root-slash-import"],
        ["react-transform", {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            },
            {
              "transform": "react-transform-catch-errors",
              "imports": ["react", "redbox-react"],
            }
          ]
        }]
      ]
    }
  }
}
