.select-option {
  position: relative;
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  margin-bottom: 24px;
}

.select-option i {
  position: absolute;
  font-size: 18px;
  right: 20px;
  top: 14px;
  z-index: $zIndexFormSelectOption;
  pointer-events: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.select-option:focus i {
  color: $colorWhite;
}

.select-option select {
  margin-bottom: 0;
}
