.select-option {
  position: relative;
  cursor: pointer;
  height: 5.0rem;
  overflow: hidden;
  margin-bottom: 2.4rem;
}

.select-option i {
  position: absolute;
  font-size: 1.8rem;
  right: 2.0rem;
  top: 1.4rem;
  z-index: $zIndexFormSelectOption;
  pointer-events: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.select-option:focus i {
  color: $colorWhite;
}

.select-option select {
  margin-bottom: 0;
}
