.input-with-label span {
  font-family: $font-family-input;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: $colorDark;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
  cursor: default;
}
