@component LBlockLayer {
  position: relative;

  &:hover {
    .LBlockLayer-actions {
      opacity: 1;
    }
  }

  @descendent actions {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 300px;
    opacity: 0;
    transition: opacity .3s;
  }
}