@component LBlockLayer {
  position: relative;

  &:hover {
    .LBlockLayer-topPanel {
      opacity: 1;
    }
  }

  @descendent topPanel {
    position: absolute;
    top: 10px;
    left: 15px;
    /* opacity: 0; */
    transition: opacity .3s;
  }

  @descendent actions {
    float: left;

    & > * {
      display: inline-block;
    }
  }

  @descendent viewInfo {
    display: inline-block;
    padding: 10px 0;
    font-size: 14px;
  }
}