@component LBlockEditModal {
  font-size: 14px;

  .modal-title {
    font-size: 14px;
  }

  .modal-body {
    height: 70vh;
  }

  .form-control {
    font-size: 14px;
  }

  h3 {
    font-size: 16px;
  }
}
