.LBlockAddController {
  z-index: 20; /* Выше блоков */
  width: 100%;
  display: block;
  position: absolute;
  height: 60px;
  bottom: -28px;

  .LBlockAddButton {
    opacity: 0;
  }

  &:hover {
    .LBlockAddButton {
      opacity: 1;
    }
  }

  .LBlockAddButton {
    .LBlockAddButton-handle {
      top: 60px;
    }
  }
  .LBlockAddController-horline {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,.9) 15px, rgba(255,255,255,.9) 30px);
    top: 27px;
    width: 100%;
    height: 5px;
  }
}
