@import 'stylesheets/editor/config.scss';

@component BubblePanel {
  position: fixed;
  right: 15px;
  top: 10px;
  z-index: $panelZindex;
  will-change: transform;

  & > * {
    margin-left: 10px;
    float: left;
  }
}

