@compoment LBlockLayerPanel {
  position: absolute;
  top: 10px;
  left: 15px;
  opacity: 0;
  transition: opacity .3s;
  z-index: $bubbleZindex;

  @descendent actions {
  float: left;

    & > * {
      display: inline-block;
    }
  }
}
