@import 'src/stylesheets/grid.scss';

$bubbleHeight: 48px;
$bubbleWidth: 48px;
$bubbleBackground: rgba(black, 0.8);
$bubbleBackgroundHover: rgba(#111, 0.8);
$bubbleZindex: 10;
$bubbleTextColor: #fff;
$bubbleCountSize: 30px;
$bubbleCountTextColor: #fff;
$bubbleCountBackground: #00aeff;
$bubbleShadow: 0px 0px 32px 0px rgba(250, 250, 250, 0.2);

.SuperBubble {
  display: inline-block;
  position: relative;
  height: $bubbleHeight;
  min-width: $bubbleWidth;
  margin: 0;
  border-radius: $bubbleHeight / 2;
  background-color: $bubbleBackground;
  z-index: $bubbleZindex;
  transition: background-color 0.2s ease;
  letter-spacing: 0;
  word-spacing: 0;

  // border: 1px solid rgba(250, 250, 250, 0.2);
  box-shadow: $bubbleShadow;

  &--icon {
    content: "";
    position: absolute;
    top: 50%;
    left: $bubbleWidth / 4;
    width: $bubbleWidth / 2;
    height: $bubbleWidth / 2;
    margin-top: $bubbleHeight / -4;
    line-height: $bubbleHeight / 2;
    color: $bubbleTextColor;
  }

  &:hover {
    background-color: $bubbleBackgroundHover;
  }

  &-text {
    display: inline-block;
    padding-left: $bubbleWidth;
    padding-right: 20px;
    line-height: $bubbleHeight;
    color: $bubbleTextColor;

    @include grid-media-query((lap, palm)) {
      display: none;
    }
  }

  &-count {
    position: absolute;
    top: $bubbleCountSize / -2;
    right: $bubbleCountSize / -2;
    width: $bubbleCountSize;
    height: $bubbleCountSize;
    color: $bubbleCountTextColor;
    background-color: $bubbleCountBackground;
    text-align: center;
    line-height: $bubbleCountSize;
    border-radius: $bubbleCountSize / 2;
    font-size: 14px;
    font-weight: bold;
  }

  &--icon {
    color: $bubbleTextColor;
  }

  @include grid-media-query((lap, palm)) {
    min-width: $bubbleWidth;
  }
}
