@component CTA1 {
  padding: 100px 0;
  color: #f8f8f8;
  background-position: center;
  background-size: cover;

  h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 42px;
  }
  ul {
    margin-bottom: 0;
  }

  @descendant social-buttons {
    margin-top: 0;
    text-align: center;
  }

  @media (max-width: 1199px) {
    @descendant ul.CTA1-social-buttons {
      float: left;
      margin-top: 15px;
    }
  }

  @media (max-width: 767px) {
    h2 {
      margin: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
      font-size: 2em;
    }
    ul.CTA1-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
