/*!---------- 02. FORMS ----------*/

.form-input-mixin {
  background: $secondaryBackgroundColor;
  border: none;
  width: 100%;
  border-radius: 0;
  &:focus {
    outline: 1px solid $colorInputOutlineFocus;
  }
  margin-bottom: 24px;
}

.BML-form {
  @import 'form/placeholder';
}

.BML-form {
  &.form-inline {
    .form-group {
      margin-right: 25px;
      &:last-of-type {
        margin-right: 0px;
      }
    }
  }

  input,
  button,
  textarea {
    appearance: none;
    @extend .font-family-input;
  }

  input:not([type="submit"]) {
    @extend .form-input-mixin;

    height: 50px;
    padding-left: 20px;
    font-weight: 500;
  }

  textarea {
    @extend .form-input-mixin;
    padding: 16px 20px;
  }

  input[type="submit"],
  button[type="submit"] {
    padding: 0 25px; // Например кнопка у InlineForm
    height: 50px;
    line-height: 48px;
    border: 2px solid $colorPrimary;
    background: $colorPrimary;
    color: $colorPrimaryText;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 !important;
    &:focus {
      outline: none;
    }
  }

  .bg-primary  {
    input[type="submit"],
    button[type="submit"] {
      background: $colorWhite;
      color: $colorPrimary;
    }
  }

  .bg-secondary {
    input:not([type="submit"]),
    textarea,
    select {
      background: $colorWhite;
    }
  }

  .image-bg {
    input:not([type="submit"]),
    textarea {
      color: #555;
    }
  }
}
