/*!---------- 4. COLOURS ----------*/

.image-bg {
  .bg-primary {
    background: #47b475 !important;
  }

  .bg-secondary {
    background: #f8f8f8;
  }

  .bg-white {
    background: #fff;
  }

  .bg-dark {
    background: #292929;
  }

  .color-body {
    color: #666;
  }

  .color-primary {
    color: white !important;
  }

  .color-red {
    color: #e31d3b !important;
  }

  .color-white {
    color: #fff;
  }
}
