$glowColor: rgba(70, 186, 249, 0.2);

/* TODO z-index бордюров должен быть ниже BlockSettingsPanel */

.Redactor {
  transition: all 0.3s;
  word-break: normal !important;

  &:hover,
  &:focus {
    // Специально на случай редактирования кнопок (ссылок с классом .btn)
    cursor: auto;

    // Без этого не хочет включаться режим редактирования в Safari
    // на кнопках у которых user-select: none
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  &:hover {
    box-shadow: 0 0 16px rgba(80, 186, 249, 0.4) !important;
    outline: 1px solid $glowColor !important;
    background-color: rgba(80, 186, 249, 0.1) !important;
  }

  &:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) !important;
    outline: 1px solid rgba(255, 255, 255, 0.2) !important;
    background-color: rgba(255, 255, 255, 0.1) !important;
  }

  ::selection {
    background: $selectionColor; /* WebKit/Blink Browsers */
  }
}

.Redactor-old {
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: $glowColor;

    box-shadow: 0 0 16px rgba(80, 186, 249, 0.4) !important;

    // Специально на случай редактирования кнопок (ссылок с классом .btn)
    cursor: auto;

    outline: 1px solid $glowColor !important;


    // Без этого не хочет включаться режим редактирования в Safari
    // на кнопках у которых user-select: none
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  ::selection {
    background: $selectionColor; /* WebKit/Blink Browsers */
  }
}
