@component BackgroundVideo {
  @descendent overlay {
    /*------------------------------------------*/
    /*  Overlay Effect
    /*------------------------------------------*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    /* Provides cross-browser RGBa background */
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
    background: transparent;
    background: rgba(51, 51, 51, 0.5);
  }
}

/* set filter as none for IE9+, because IE9+ support RGBa */
:root .overlay {
    filter: none\0/IE9;
}
