/* http://www.themedept.com/demo/getleads/agency.html */

/*------------------------------------------------------------------*/
/*   Contextual Colors
/*-----------------------------------------------------------------*/
.text-white {
    color: #ffffff;
}

.text-black {
    color: #69696E;
}

.text-blue {
    color: #439fe0;
}

