@import 'stylesheets/config.css';

@component EditorRightSidebar {
  font-size: 2em;
  position: fixed;
  width: $dashboardSidebarWidth;
  background: $dashboardBackground;
  color: $dashboardTextColor;
  text-align: center;
  padding: 10px 4px;
  right: 0;
  top: 0;
}
