.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $colorDark;
    opacity: 0.3;
    z-index: $zIndexOverlayBefore;
}

.overlay-heavy:before {
    opacity: 0.6;
}

.bg-light.overlay:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $colorWhite;
    opacity: 0.1;
    z-index: $zIndexOverlayBefore;
}
