/* stylelint-disable-line rule-non-nested-empty-line-before */

@import 'src/stylesheets/shared/angeled-background';

body.EditorApp {
  @include angled-background;
  min-height: 500px;
}

.EditorApp-content {
  // Для поддержки LPage--scale
  position: absolute;
  width: 100%;
  height: 100%;
}
