@import "stylesheets/editor/config";

@component LApplicationEditor {
  @descendent sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $dashboardSidebarWidth;
    background: $dashboardBackground;
    color: $dashboardTextColor;
    text-align: center;
    padding: 10px 4px;
  }

  @descendent content {
    position: absolute;
    top: 0;
    left: $dashboardSidebarWidth;
    right: 0;
  }
}

/* stylelint-disable-line rule-non-nested-empty-line-before */

body.EditorApp {
  background: $dashboardBackground;
}
