@import 'bootstrap.scss';
// @import 'font-awesome.scss';

@import 'custom.scss';
@import 'utils.css';
@import 'animation.css';

@import 'EditorModal.scss';
@import 'theme2/index.scss';

@import 'config';

body.Editor {
  background: $dashboardBackground;
}

.OpacityIcon {
  color: #666;
}

.IconLink {
  color: #666;
  &:hover {
    color: #999;
  }

  &.IconRed {
    color: red;
  }
}
