html {
  min-height: 100%;
  // http://www.sitepoint.com/understanding-and-using-rem-units-in-css/
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-body {
  max-height: 500px;
  overflow: scroll;
}

// Из theme2
section {
  position: relative;
  overflow: hidden;
}
