.vertical-center-abs, .vertical-center-rel {
    top: 50%;
    transform: translateY(-50%);
}

.vertical-center-abs {
    position: absolute;
}

.vertical-center-rel {
    position: relative;
}

.vh-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.y-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
