$colorPrimary: #47b475;
$colorWhite: #fff;

$colorGrayLight: #222;
$colorDarkHR: #555;
$colorBody: #666;
$colorPlaceholder: #777;
$colorBorder: #ccc;
$backgroundSelectFocus: #eee;
$colorInputOutlineFocus: #ccc;

$colorDark: #292929;

$secondaryBackgroundColor: #f8f8f8;

$backgroundDarkButtonHover: #434343;
