@import 'src/stylesheets/shared/zindexes.scss';

.Toolbar {
	position: fixed;
	z-index: $zindexToolbar;
	will-change: transform;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;

  &-item {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--top{
    top: 30px;
  }

  &--bottom{
    bottom: 30px;
  }

  &--left {
    left: 30px;
  }

  &--right {
    right: 30px;
  }

}
