@import 'stylesheets/config.css';
/* http://stackoverflow.com/questions/4804581/css-expand-child-div-height-to-parents-height */
@component LBC {
  display: table;
  width: 100%;

  @descendent content {
    display: table-cell;
  }

  @descendent panel {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    color: #555;
    width: 40px;
    background: $dashboardBackground;
  }
}
