:local(.panel) {
  font-size: 14px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 25px 20px;
  width: 150px;
  height: 100%;
  color: #666;
  background: #333;
}

:local(.menuItem) {
  margin-bottom: 15px;
}
