<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Awesome BML react front-end</title>
		<!--<script src="http://3008.vkontraste.ru/assets/better-dom/better-dom.self-f5a260a81f5877e127fb60cec93be922574e8e55826d0a673c5f29aa82437a85.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-dom/better-dom-legacy.self-f5156094b4810299084e050104bdf1380e671baeca12c411e5083cedf6a96b37.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-dom.self-75a11da44c802486bc6f65640aa48a730f0f684c5c07a42ba3cd1735eb3fb070.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-i18n-plugin/better-i18n-plugin.self-5efe464a71fdfb421277e2e0a645a54fe7cb5b1aa1ca5e67cfeba819382aad15.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-i18n-plugin.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-popover-plugin/better-popover-plugin.self-af21cb61a0ef91b2dba0988644538be7aff562d2ca6f257f163142752a256cd3.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-popover-plugin.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-form-validation/dist/better-form-validation.self-fd8ea43429edcddc335d4f14aec67535671bfb705ad65c2868eeaac2b2554d29.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-form-validation/i18n/better-form-validation.ru.self-b90d212460315b25415ac74686a8f34f1072d424d014c7b556ccd0a0707a92aa.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-form-validation/i18n/better-form-validation.de.self-c9dfe7030d1912db5154f4743cffa872e116c40434d893b1e3603989866750c6.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-form-validation.self-6a3cf5192354f71615ac51034b3e97c20eda99643fcaf5bbe6d41ad59bd12167.js?body=1" data-turbolinks-track="true"></script>-->
		<!--<script src="http://3008.vkontraste.ru/assets/better-form.self-4220351a1f0028715cc9c13db0dd69b075ac92e55476129d26fb80233c56da6b.js?body=1" data-turbolinks-track="true"></script>-->

  </head>

  <body>
    <div id="content"></div>
    <script type="text/javascript" src="<%- webpackAsset('vendor', 'js') %>"></script>
    <script type="text/javascript" src="<%- webpackAsset('fonts', 'js') %>"></script>
    <script type="text/javascript" src="<%- webpackAsset('viewer', 'js') %>"></script>
    <script type="text/javascript" src="<%- webpackAsset('editor', 'js') %>"></script>
  </body>
</html>
