:local(.container) {
  position: relative;
}

:local(.block) {
  position: relative;
  transition: all 0.25s ease;
  left: 0;
}

:local(.blockOver) {
  transition: all 0.25s ease;
  composes: block;
  left: -15px;
}

:local(.blockShifted) {
  transition: all 0.25s ease;
  composes: block;
  left: -150px;
}

.LPage--scale {
  :local(.block) {
    margin-top: 56px;
    margin-bottom: 56px;
  }
}
