@import "stylesheets/editor/config";

.LPage {

  /*
   * В случае если блок невысокие, то с этим параметром LPage становится на
   * всю высоту и появляется лишниее пустое место вокруг которого тень
  min-height: 100%;
  */
  transition: transform 0.2s ease-in-out;
}

.LPage--scale {
  transform: scale(0.5);
  transform-origin: top;
}
