/*ul {*/
  /*list-style: none;*/
/*}*/

body {
  font-size: 13px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*color: $defaultTextColor;*/
}

hr {
  border: none;
  border-top: 1px solid $colorHR;
  margin: 0 0 24px 0;
  width: 100%;
}

ul.bullets {
  list-style: inside;
}

.main-container {
  clear: both;
}

hr.short-thick {
  max-width: 50px;
  border-top: 5px solid $colorHR;
  opacity: 1 !important;
}

.image-bg hr {
  border-color: $colorWhite;
  opacity: 0.6;
}

.image-bg.bg-light hr {
  border-color: $colorHR;
  opacity: 1;
}

.bg-dark hr {
  border-color: $colorDarkHR;
}

.vnu {
  display: inline;
}

.row-gapless > div[class*='col-'] {
  padding: 0;
}

@media all and (max-width: 1100px) {
  .col-md-push-1 {
    left: 0;
  }
}

@media all and (max-width: 768px) {
  .pull-left-sm {
    float: left !important;
  }
  .overflow-hidden-xs {
    overflow: hidden;
  }
}
