@import "stylesheets/editor/config";

@component LOperatorPanel {
  position: fixed;
  right: 15px;
  top: 10px;
  z-index: $panelZindex;
  will-change: transform;

  & > * {
    margin-left: 10px;
    float: left;
  }
}
