$colorLinkHover: darken($colorPrimary, 10%);

$colorBlockquote: $colorPlaceholder;
$colorSelectText: $colorPlaceholder;

$defaultBackgroundColor: $colorWhite;
$backgroundColorDark: $colorDark;

$colorPrimaryBg: $colorPrimary;
$colorPrimaryText: $colorWhite;

$colorHR: $colorBorder;

// form states

// $successBackgroundColor: #58ce38;
// $successTextColor: $colorWhite;
// $errorBackgroundColor: #ce3838;


// Feature

// $colorRed: #e31d3b;
/*.color-primary {*/
  /*color: $colorPrimary !important;*/
/*}*/
