@import 'viewer/colors';

.image-bg {
  .bg-primary {
    background: $colorPrimary !important;
  }

  .bg-secondary {
    background: $secondaryBackgroundColor;
  }

  .bg-light {
    background: $colorWhite;
  }

  .bg-dark {
    background: $backgroundColorDark;
  }

  .color-body {
    color: $colorBody;
  }

  .color-primary {
    color: $colorWhite !important;
  }

  .color-red {
    color: $colorRed !important;
  }

  .color-white {
    color: $colorWhite;
  }
}
