.controls-inside .flex-control-nav {
  bottom: 2.4rem;
  z-index: $zIndexControlsInside;
}

.controls-inside .flex-control-nav li a {
  border-color: $defaultBackgroundColor;
}

.controls-inside .flex-control-nav li a.flex-active {
  background: $defaultBackgroundColor;
}
