.icon {
    font-size: 6.4rem;
    display: inline-block;
    color: $colorDark;
}

.image-bg.bg-light .icon {
    color: $colorDark;
}

.image-bg .icon,
.bg-dark .icon {
    color: $colorWhite;
}

.icon-lg {
    font-size: 8.0rem;
}

.icon-sm {
    font-size: 3.2rem;
}

.icon-xs {
    font-size: 1.8rem;
}

@media all and (max-width: 767px) {
    .icon {
        font-size: 4.8rem;
    }
    .icon-lg {
        font-size: 6.4rem;
    }
    .icon-sm {
        font-size: 1.8rem;
    }
    .icon-xs {
        font-size: 1.6rem;
    }
}

.embelish-icons {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transform: scale(10);
    left: 50%;
    opacity: 0.05;
    z-index: $zIndexEmbelish;
}
