@component MustRead2 {
  min-height: 500px;
  height: 700px;

  @descendent header {
    padding-top: 25px;
    margin-bottom: 0.5em;

    @media (max-width: 44em) {
      font-size: 2.5em;
      line-height: 1.2em;
    }
  }

  @descendent subheader {
    margin-bottom: 2em;

    @media (max-width: 44em) {
      font-size: 2em;
      line-height: 1em;
    }
  }
}
