@import "stylesheets/editor/config";

@component EditorLeftSidebar {
  font-size: $sidebarFontSize;
  position: fixed;
  width: $dashboardSidebarWidth;
  background: $dashboardBackground;
  color: $dashboardTextColor;
  text-align: center;
  padding: $sidebarPadding;
  left: 0;
  top: 0;
  bottom: 0;
}
