blockquote {
  overflow: hidden;
  font-family: $font-family-quote;
  font-size: 1.0em;
  font-weight: 300;
  line-height: 1.8em;
  font-style: italic;
  background: $secondaryBackgroundColor;
  // padding: 3.2em;
  color: $colorBlockquote;
}

.bg-secondary blockquote {
  background: $colorWhite;
  border-color: $colorPrimary;
}

blockquote .author {
  font-size: 1.2rem;
  display: block;
  float: right;
  margin-top: 1.6rem;
}

@media all and (max-width: 767px) {
  blockquote {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}
