ol,
ul {
  margin-bottom: 2.4rem;
  margin-top: 0;
  padding: 0;

  &.list-inside {
    list-style-position: inside;
  }
}

@media all and (max-width: 767px) {
  ol,
  ul {
    font-size: 0.8em;
  }
}
