.uppercase {
  font-weight: 400;
  text-transform: uppercase;
}

h1.uppercase {
  letter-spacing: 17px;
  margin-right: -17px;
}

h2.uppercase {
  letter-spacing: 10px;
  margin-right: -10px;
}

h3.uppercase {
  letter-spacing: 6px;
  margin-right: -6px;
}

h4.uppercase {
  letter-spacing: 3px;
  margin-right: -3px;
}

h5.uppercase {
  letter-spacing: 2px;
  margin-right: -2px;
}

h6.uppercase,
.h6-u {
  letter-spacing: 2px;
  font-weight: 700;
}
