@import 'stylesheets/config.css';

@component LBlockLayerPanel {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: $bubbleZindex;

  @descendent actions {
    float: left;

    & > * {
      display: inline-block;
    }
  }
}
