@import "stylesheets/assets";

@component MobilePreview {
  margin: auto;
  overflow: hidden;

  height: 1000px;
  width: 532px;
  display: block;
  background: url($devicePhone) left top / 100% no-repeat;

  @descendent viewport {
    width: 375px;
    height: 667px;
    display: block;
    margin-left: 78px;
    margin-top: 107px;
    overflow: hidden;
  }
}
