@component MustRead1 {
  /*padding-top: 50px;*/
  /*padding-bottom: 50px;*/
  text-align: center;
  min-height: 500px;
  height: 700px;


  @descendent message {
    position: relative;
    /*padding-top: 20%;*/
    /*padding-bottom: 20%;*/
  }

  @descendent header {
    margin-bottom: 0.5em;
  }

  @descendent subheader {
    margin-bottom: 2em;
  }

  @descendent buttons {
    margin-top: 1em;
  }
}

@media (max-width: 767px) {
  @component MustRead1 {
    @descendent message {
      padding-bottom: 15%;
    }
    @descendent header {
      font-size: 3em;
    }
    ul.MustRead1-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @descendent divider {
      width: 100%;
    }
  }
}
